/* navbar */
.navbar{
    background-color: #08034e;
}

nav .navbar-nav li a{
    color: #ffffff !important;
}

.bordered{
    /*padding: 20px;*/
    border: 3px solid black;
}

.navbar .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: rgb(124, 184, 233);
    color: rgb(128, 16, 34);
}