<div class="bordered">
  <a class="navbar-brand" routerLink="">
    <img src="https://i.imgur.com/5DIWZM8.png" height="80px" width="250px" alt="LOGO">
  </a>
</div>
<nav class="navbar navbar-icon-top navbar-expand-lg justify-content-md-center">
  <div>
    <ul class="navbar-nav text-center border">
      <li class="nav-item active">
        <a routerLink="" class="nav-link">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a routerLink="" class="nav-link">
          <i class="fa fa-plane"></i>
          Programas
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a routerLink="about" class="nav-link">
          <i class="fa fa-info"></i>
          Informacion
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a routerLink="contacto" class="nav-link">
          <i class="fa fa-envelope"></i>
          Contacto
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a routerLink="contacto" class="nav-link">
          <i class="fa fa-tripadvisor"></i>
          TripAdvisor
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>