<div class="inner">
  <p></p>
  <button (click)=logOut() type="button" class="btn btn-info">Log out</button>

  <br>
  <hr>
  <h2>
    Mensajes
    <span *ngIf="mensajes !== null" class="badge badge-info">{{mensajes.length}}</span>
  </h2>
  <div class="list-group" id="lista_mensajes">
    <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let index of mensajes">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{index.nombre}} - Asunto: {{index.asunto}}</h5>
        <small>{{index.createdDate | date : format}}</small>
      </div>
      <p class="mb-1">{{index.mensaje}}</p>
      <small>{{index.mail}}</small>
      <a class="trash" (click)=borrarMensaje(index)>
        <i class="fa fa-trash-o fa-2x"></i>
      </a>
    </a>
  </div>

  <br>
  <hr>
  <br>

  <button class="accordion border" (click)=toggleABM()>
    <b>Agregar programa</b>
    <span style="float:right;">
      <i id="iconABM" class="fa fa-angle-down"></i>
    </span>
  </button>
  <div class="panel-invi" id="formulario1">
    <form [formGroup]="formdb" (ngSubmit)="saveViaje()">
      <div class="form-group">
        Nombre del programa
        <br>
        <input type="text" name="nombre" class="form-control" formControlName="nombre">
        <br> Destino
        <br>
        <input type="text" name="destino" class="form-control" formControlName="destino">
        <br> Duracion
        <br>
        <input type="text" name="duracion" class="form-control" formControlName="duracion">
        <br> Precio
        <br>
        <input type="text" name="precio" class="form-control" placeholder="Indicar la concurrencia (USD, $, etc)" formControlName="precio">
        <br> Descripcion
        <br>
        <textarea id="descripcion" class="form-control" formControlName="descripcion"></textarea>
        <br> Observacion
        <br>
        <textarea id="obs" class="form-control" formControlName="obs" placeholder="Insertar código HTML aquí"></textarea>
        <br> Itinerario
        <br>
        <textarea id="itinerario" class="form-control" formControlName="itinerario" placeholder="Insertar código HTML aquí"></textarea>
        <br> Portada
        <input type="text" name="portada" class="form-control" formControlName="portada">
        <br> Foto1
        <br>
        <input type="text" name="foto1" class="form-control" formControlName="foto1">
        <br> Foto2
        <br>
        <input type="text" name="foto2" class="form-control" formControlName="foto2">
        <br> Foto3
        <br>
        <input type="text" name="foto3" class="form-control" formControlName="foto3">
        <br> Destacado
        <input type="checkbox" name="destacado" class="form-control" formControlName="destacado">
        <br>
        <button class="btn btn-primary" [disabled]="formdb.invalid">Save</button>
      </div>
    </form>
  </div>
  <hr>
  <button class="accordion border" (click)=toggleEdit()>
    <b>Editar programa</b>
    <span style="float:right;">
      <i id="iconEdit" class="fa fa-angle-down"></i>
    </span>
  </button>
  <div class="panel-invi" id="formulario2">

    <div class="form-group">
      <label for="viaje">Seleccione el programa a editar</label>
      <select id="select" name="select" class="form-control" (click)="cargarViajeAEditar()">
        <option value="" disabled>
          Programas
        </option>
        <option *ngFor="let viaje of viajes, let i = index" [value]=i>
          {{viaje.nombre}}
        </option>
      </select>
    </div>

    <!--NO uso FormGroup porque no me deja llenar los campos del formulario via TypeScript-->
    <form>
      <div class="form-group">
        Nombre del programa
        <br>
        <input type="text" class="form-control" name="nombre" id="nombre">
        <br> Destino
        <br>
        <input type="text" class="form-control" name="destino" id="destino">
        <br> Duracion
        <br>
        <input type="text" class="form-control" name="duracion" id="duracion">
        <br> Precio
        <br>
        <input type="text" name="precio" id="precio" class="form-control">
        <br>
        <br> Portada
        <input type="text" class="form-control" name="portada" id="portada">
        <br> Destacado
        <input type="checkbox" name="destacado" class="form-control" id="destacado">
        <br>
        <button id="edit_button" (click)=editViaje() class="btn btn-primary" disabled>Edit</button>
        <button id="delete_button" (click)=deleteViaje() class="btn btn-danger" disabled>Delete</button>
      </div>
    </form>
  </div>
</div>