<!-- Services -->

<div class="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="text-center" style="margin-top: 50px">
          <h2>Servicios que ofrecemos</h2>
        </div>
      </div>
    </div>
    <div class="row icon_box_container">
      <!-- Icon Box -->
      <div class="col-lg-4 icon_box_col">
        <h3><i class="fa fa-plane fa-1x"></i> Planeamos viajes</h3>
        <p class="icon_box_text">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce fringilla lectus nec
          diam auctor, ut fringilla diam sagittis.</p>
      </div>
      <!-- Icon Box -->
      <div class="col-lg-4 icon_box_col">
        <h3><i class="fa fa-plane fa-1x"></i> Salidas grupales</h3>
        <p class="icon_box_text">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce fringilla lectus nec
          diam auctor, ut fringilla diam sagittis.</p>
      </div>
      <!-- Icon Box -->
      <div class="col-lg-4 icon_box_col">
        <h3><i class="fa fa-plane fa-1x"></i> Cumplimos sueños</h3>
        <p class="icon_box_text">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce fringilla lectus nec
          diam auctor, ut fringilla diam sagittis.</p>
      </div>
    </div>
  </div>
</div>
<hr>