.titulo {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.full-height {
  min-height: 60vh;
}

.row {
  margin-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.card {
  margin-bottom: 5vh;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card:hover img {
  opacity: 1;
}

img {
  opacity: 0.85;
  transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  -webkit-transition: opacity .4s ease-out;
  -o-transition: opacity .4s ease-out;
}

.precio {
  color: black;
  font-size: 20px;
}

.text-oneline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}