.titulo {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.full-height {
  min-height: 60vh;
  margin-top: 5vh;
}

.row {
  padding-left: 5vw;
  padding-right: 5vw;
}

.card {
  margin-bottom: 5vh;
  cursor: pointer;
}

.card {
  margin-bottom: 5vh;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Efecto Gray Scale */

.hover08 {
  margin-top: 2vh;
}

@media screen and (min-width: 720px) {
  .hover08 img {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .hover08:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}

.text-oneline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}