<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.386521991151!2d-62.263307584655124!3d-38.70893397960024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95eda3551fe1d03d%3A0xadf2e475fe9195b4!2s19+de+Mayo+619%2C+8000+Bah%C3%ADa+Blanca%2C+Buenos+Aires!5e0!3m2!1ses!2sar!4v1473987181774&language=es"
  width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>

<div class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-7">
      <p style="font-size:18px">Por cualquier consulta no dudes en escribirnos, estamos para solucionarte todas tus
        inquietudes y hacer realidad
        el
        sueño de viajar!
      </p>
      
      <form [formGroup]="form" (ngSubmit)="send_message()" style="margin-top: 50px">
        <div class="form-group">
          Nombre y Apellido *
          <br>
          <input type="text" name="nombre" class="form-control" formControlName="nombre"><br>
          E-mail *
          <br>
          <input type="text" name="mail" class="form-control" formControlName="mail"> <br>
          Mensaje *
          <br>
          <textarea class="form-control" formControlName="mensaje"></textarea><br>
          <button class="btn btn-primary" [disabled]="form.invalid">Enviar</button>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <ul style="list-style-type:none">
        <li style="font-size:20px">Email</li>
        <li style="color:rgb(57, 174, 212)">info@agenciaclasica.com.ar</li>
      </ul>

      <ul style="list-style-type:none">
        <li style="font-size:20px">Teléfono</li>
        <li style="color:rgb(57, 174, 212)">+54 (291) 450-0363</li>
      </ul>

      <ul style="list-style-type:none">
        <li style="font-size:20px">Dirección</li>
        <li style="color:rgb(57, 174, 212)">19 de mayo 619, 8000 Bahía Blanca, Argentina</li>
      </ul>
    </div>
  </div>
</div>