<h1 align="center">Map</h1>

<div id="mapid" ng-controller="MarkersSimpleController">

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-7">
      <p style="font-size:18px">Por cualquier consulta no dudes en escribirnos, estamos para solucionarte todas tus
        inquietudes y hacer realidad
        el
        sueño de viajar!
      </p>
    </div>
    <div class="col-sm-4">
      <ul style="list-style-type:none">
        <li style="font-size:20px">Email</li>
        <li style="color:rgb(57, 174, 212)">info@agenciaclasica.com.ar</li>
      </ul>

      <ul style="list-style-type:none">
        <li style="font-size:20px">Teléfono</li>
        <li style="color:rgb(57, 174, 212)">+54 (291) 450-0363</li>
      </ul>

      <ul style="list-style-type:none">
        <li style="font-size:20px">Dirección</li>
        <li style="color:rgb(57, 174, 212)">19 de mayo 619, 8000 Bahía Blanca, Argentina</li>
      </ul>
    </div>
  </div>
</div>