@import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);

.inner {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

body {
  background: #9b59b6;
  font: normal 300 1em/1.5em 'Ubuntu', sans-serif;
}