<div class="footer" style="display: table; overflow: hidden;">
  <div style="display: table-cell; vertical-align: middle;">
    <div>
      <img [src]="'assets/media/logo_footer.png'" alt="" height="auto" width="auto">
      <br>
      <p>Empresa de viajes y Turismo </p>
      <p>Legajo 14783</p>
      <a (click)="openFacebook()">
        <i class="fa fa-facebook-square fa-3x"></i>
      </a>
      <a (click)="openInstagram()" class="icon-block">
        <i class="fa fa-instagram fa-3x"></i>
      </a>
      <a (click)="openContact()">
        <i class="fa fa-globe fa-3x"></i>
      </a>
      <a (click)="openGithub()">
        <i class="fa fa-github fa-3x"></i>
      </a>
    </div>
  </div>
</div>