<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="footer" style="display: table; overflow: hidden;">
  <div style="display: table-cell; vertical-align: middle;">
    <div>
      <img [src]="'assets/media/logo_footer.png'" alt="" height="auto" width="auto">
      <br>
      <p>Empresa de viajes y Turismo </p>
      <p>Legajo 14783</p>
      <a href="https://www.facebook.com/agenciaclasica/" class="icon-block">
        <i class="fa fa-facebook-square fa-3x"></i>
      </a>
      <a href="https://www.instagram.com/Agenciaclasicaymoderna/" class="icon-block">
        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
      </a>
      <!--<a href="https://www.tripadvisor.com.ar/Profile/sabrinaMCaramelli" class="icon-block">
        <i class="fa fa-tripadvisor fa-3x"></i>
      </a>-->
      <a href="https://github.com/franco-peratta/">
        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
<!--
<div class="container">
  <div class="text-center center-block">
    <a href="https://www.facebook.com/bootsnipp">
      <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
    </a>
    <a href="https://twitter.com/bootsnipp">
      <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
    </a>
    <a href="https://plus.google.com/+Bootsnipp-page">
      <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
    </a>
    <a href="mailto:#">
      <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
    </a>
  </div>
</div>-->