<div class="footer" style="display: table; overflow: hidden;">
  <div style="display: table-cell; vertical-align: middle;">
    <div>
      <img [src]="'assets/media/logo_footer.png'" alt="" height="auto" width="auto">
      <br>
      <p>Empresa de viajes y Turismo </p>
      <p>Legajo 14783</p>
      <a href="https://www.facebook.com/agenciaclasica/" class="icon-block">
        <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com/Agenciaclasicaymoderna/" class="icon-block">
        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
      </a>
      <a href="https://www.tripadvisor.com.ar/Profile/sabrinaMCaramelli" class="icon-block">
        <i class="fa fa-tripadvisor fa-3x"></i>
      </a>
      <a href="https://github.com/franco-peratta/" class="icon-block">
        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>