<!-- Services -->

<div class="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="text-center" style="margin-top: 50px">
          <h2>Servicios que ofrecemos</h2>
        </div>
      </div>
    </div>
    <div class="row icon_box_container">   
      <!-- Icon Box -->
      <div class="col-lg-4 icon_box_col">
        <div class="icon_box">
          <div class="icon_box_image"><img src="https://cdn2.iconfinder.com/data/icons/location-map-simplicity/512/travel_agency-512.png"
              class="svg" alt="icon1"></div>
          <div class="icon_box_title">Planeamiento de viajes</div>
          <p class="icon_box_text">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce fringilla lectus nec
            diam auctor, ut fringilla diam sagittis.</p>
        </div>
      </div>

      <!-- Icon Box -->
      <div class="col-lg-4 icon_box_col">
        <div class="icon_box">
          <div class="icon_box_image"><img src="https://cdn2.iconfinder.com/data/icons/location-map-simplicity/512/travel_agency-512.png"
              class="svg" alt="icon2"></div>
          <div class="icon_box_title">Salidas grupales</div>
          <p class="icon_box_text">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce fringilla lectus nec
            diam auctor, ut fringilla diam sagittis.</p>
        </div>
      </div>

      <!-- Icon Box -->
      <div class="col-lg-4 icon_box_col">
        <div class="icon_box">
          <div class="icon_box_image"><img src="https://cdn2.iconfinder.com/data/icons/location-map-simplicity/512/travel_agency-512.png"
              class="svg" alt="icon3"></div>
          <div class="icon_box_title">Cumplimos sueños</div>
          <p class="icon_box_text">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce fringilla lectus nec
            diam auctor, ut fringilla diam sagittis.</p>
        </div>
      </div>

    </div>
  </div>
</div>
<hr>