<app-video></app-video>

<br><br>
<p id="titulo" align="center">PROGRAMAS DISEÑADOS A LA MEDIDA DE TUS SUEÑOS</p>

<div class="container" *ngFor='let index of viajes; let i = index; let even = even; let size = count'>
  <span *ngIf="even">
    <div class='pics_in_a_row'>
      <div class='my_img rounded hover13'>
        <figure><img routerLink='programas/{{viajes[i].id}}' src={{viajes[i].portada}}>
          <figcaption routerLink='programas/{{viajes[i].id}}'>
            <div>
              <p>{{viajes[i].nombre}}</p>
            </div>
          </figcaption>
          <div class="precio">
            <button routerLink='programas/{{viajes[i].id}}' type="button" class="btn btn-primary" style="float: right; margin-top:8px">
              <i class="fa fa-paper-plane"></i> Ampliar
            </button>
            <i class="fa fa-money" style="margin-top:10px"></i> Precio: <br>
            {{viajes[i].precio}}
          </div>
        </figure>
      </div>
      <div class='my_img rounded hover13'>
        <figure *ngIf="i+1<size"><img routerLink='programas/{{viajes[i+1].id}}' src={{viajes[i+1].portada}}>
          <figcaption routerLink='programas/{{viajes[i+1].id}}'>
            <div>
              <p>{{viajes[i+1].nombre}}</p>
            </div>
          </figcaption>
          <div class="precio">
            <button routerLink='programas/{{viajes[i+1].id}}' type="button" class="btn btn-primary" style="float: right; margin-top:8px">
              <i class="fa fa-paper-plane"></i> Ampliar
            </button>
            <i class="fa fa-money" style="margin-top:10px"></i> Precio: <br>
            {{viajes[i+1].precio}}
          </div>
        </figure>
      </div>
    </div>
  </span>
</div>