<app-video></app-video>
<br>
<br>
<p id="titulo" align="center">PROGRAMAS DISEÑADOS A LA MEDIDA DE TUS SUEÑOS</p>

<div class="destacados">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let viaje of viajes; index as i;">
      <mat-card routerLink='programas/{{viaje.id}}' class="card mat-elevation-z8">
        <mat-card-title class="text-oneline">{{viaje.nombre}}</mat-card-title>
        <mat-card-subtitle>{{viaje.nombre}}</mat-card-subtitle>


        <div class="hover08">

          <img mat-card-image [src]=viaje.portada alt="Photo of Rome">

        </div>

        <mat-card-content>
          <p class="text-oneline">
            <i class="fa fa-calendar"></i>
            <b> Duracion: </b> {{viaje.duracion}}</p>
          <p class="text-oneline">
            <i class="fa fa-location-arrow"></i>
            <b> Destino/s: </b> {{viaje.destino}}</p>
          <p class="text-oneline">
            <i class="fa fa-money"></i>
            <b> Precio: </b> {{viaje.precio}}
          </p>
        </mat-card-content>

        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<!-- PARALLAX IMAGE -->
<div id="banner">
  <div align="center" class="centered">
    <h1 class="destacado_mes">Destacado del mes</h1>
    <br>
    <h1>Salida Grupal</h1>
    <h1>NEW YORK</h1>
    <p>Fecha: 16/08/2020</p>
    <strong>
      <h2>Tarifa FINAL: USD 3199</h2>
    </strong>
  </div>
</div>

<div class="color">
  <div class="content">
    <h1 class="heading">Nuestro staff</h1>
    <a class="card-flip" href="#">
      <div class="front" style="background-image: url(//source.unsplash.com/300x401);">
        <p>Sabrina Caramelli</p>
      </div>
      <div class="back border">
        <div>
          <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
          <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
          <button class="button">Click Here</button>
        </div>
      </div>
    </a>
    <a class="card-flip" href="#">
      <div class="front" style="background-image: url(//source.unsplash.com/300x401);">
        <p>Karina</p>
      </div>
      <div class="back border">
        <div>
          <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
          <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
          <button class="button">Click Here</button>
        </div>
      </div>
    </a>
    <a class="card-flip" href="#">
      <div class="front" style="background-image: url(//source.unsplash.com/300x401);">
        <p>Valeria</p>
      </div>
      <div class="back border">
        <div>
          <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
          <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
          <button class="button">Click Here</button>
        </div>
      </div>
    </a>
  </div>
</div>