mat-card {
	margin-bottom: 5vh;
}

img:hover {
    cursor: pointer;
}

.destacados {
	padding-left: 5vw;
	padding-right: 5vw;
}

.precio {
	color: black;
	font-size: 24px;
}

#titulo {
	color: #000e33;
	font-size: 32px;
	margin-top: 20px;
	margin-bottom: 60px;
}

mat-card{
	cursor: pointer;
}

.btn-primary {
	color: rgb(255, 255, 255);
	float: right; 
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#banner {
	margin-top: 10vh;
	margin-bottom: 50px;
	overflow: hidden;
	width: 100%;
	height: 80vh;
	position: relative;
	clear: both;
	background: transparent center center no-repeat fixed;
	background-image: url("/assets/media/newyork4.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://wallpapercave.com/wp/wp2205954.jpg',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://wallpapercave.com/wp/wp2205954.jpg',sizingMethod='scale')";
}

/* Centered text */
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: whitesmoke;
}

.destacado_mes {
	font-size: 4vh;
}