img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
  }
img:hover {
    cursor: pointer;
}
  
.pics_in_a_row {
	display: flex;
}
  
.my_img { 
	flex: 1.3344;
}

*, *:before, *:after {
	box-sizing: border-box;
}
  
.container {
	background: white;
	margin: 0 auto;
	padding: 0%;
	width: 75%;
}

.precio{
	color: #110c0cb2;
}
  
#titulo {
	color: #000e33;
	font-size: 32px;
	margin-top: 20px;
	margin-bottom: 60px;
}
  
h2 {
	font-weight: normal;
	font-size: 19px;
	margin-bottom: 30px;
}
  
.muted {
	font-style: italic;
	color: #666;
}

p {
	color: white;
	padding-left: 2px;
}

p, li {
	line-height: 1.5
}
  
li {
	margin-bottom: 7px;
}
    
.pics_in_a_row {
	margin: 25px 0;
}
  
.pics_in_a_row > div:not(:last-child) {
	margin-right: 2%;
}  

figcaption{
	background-color:#000e33;
	color: white;
	cursor: pointer;
	font-size: 16px;
}

.btn {
	color: black;
}
.btn-primary {
	color: rgb(255, 255, 255);
}

/*https://codepen.io/nxworld/pen/ZYNOBZ*/
/* Gray Scale */
.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* Flashing */
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1s;
	animation: flash 1s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}