mat-card {
	margin-bottom: 5vh;
}

img:hover {
    cursor: pointer;
}

.destacados {
	padding-left: 10vw;
	padding-right: 10vw;
}

.precio {
	color: black;
	font-size: 24px;
}
  
#titulo {
	color: #000e33;
	font-size: 32px;
	margin-top: 20px;
	margin-bottom: 60px;
}

.titulo-card {
	margin-top:auto;
    margin-bottom:auto;
    text-align:left;
}

mat-card{
	cursor: pointer;
}

.btn-primary {
	color: rgb(255, 255, 255);
	float: right; 
}

/*https://codepen.io/nxworld/pen/ZYNOBZ*/
/* Opacity #2 */
.hover figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover figure:hover img {
	opacity: .8;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}