<!--h2 tira excepciones porque al momento de renderizarse todavia viaje sigue siendo null
uso la condicion *ngIF="viaje" para que se renderize cuando viaje ya haya obtenido su verdadero valor
tambien le puedo agregar el simbolo ? a la derecha de viaje -> {{viaje?.nombre}}
es un nullcheck, como esta null no carga h2, luego angular asincronicamente lo carga cuando es not null
https://stackoverflow.com/questions/34833358/angular-2-typeerror-l-thing0-is-undefined-in-thing-title-in-appcomponent
-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <h2 *ngIf="viaje" align="center">{{viaje.nombre}}</h2>
            <hr>
            <div>
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor='let index of images; let size = count'>
                        <img class="img-slider" src={{index}} alt="Random slide">
                        <div class="carousel-caption">
                            <h3></h3>
                            <p></p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>

            <br>
            <br>

            <div *ngIf="viaje" class="border" id="panel_detalles">
                <p class="espaciado">
                    <i class="fa fa-calendar"></i>
                    <b> Duracion: </b> {{viaje.duracion}}</p>
                <p class="espaciado">
                    <i class="fa fa-location-arrow"></i>
                    <b> Destino/s: </b> {{viaje.destino}}</p>
                <p>
                    <i class="fa fa-money"></i>
                    <b> Precio: </b> {{viaje.precio}}
                </p>
                <button type="button" class="btn btn-primary" id="btn-reserva" (click)="openScrollableContent(longContent)" data-target="#exampleModalCenter">
                    Reservar
                </button>
            </div>

            <div class="quote">
                <!--https://1stwebdesigner.com/css-snippets-blockquotes/-->
                <blockquote>
                    {{viaje?.descripcion}}
                </blockquote>
            </div>
            <div>
                <h1 align="center">Detalles</h1>
                <br>
                <button class="accordion border" (click)=toggleItinerario()>
                    <b>Itinerario</b>
                    <span style="float:right;">
                        <i id="icon_itinerario" class="fa fa-angle-down"></i>
                    </span>
                </button>
                <div class="panel-invi border" id="itinerario">
                </div>
                <br>
                <button class="accordion" (click)=toggleObs() style="margin-top: 10px">
                    <b>Observaciones</b>
                    <span style="float:right;">
                        <i id="icon_observaciones" class="fa fa-angle-down"></i>
                    </span>
                </button>
                <div class="panel-invi border" id="observaciones">
                </div>
            </div>

            <hr>
            <div align="center" id="share-buttons">
                <!--
                <!- - Facebook - ->
                <a class="clickable" (click)="shareFacebook()" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                </a>
                <!- - Twitter - ->
                <a class="clickable" (click)="shareTwitter()" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                </a>
                <!- - Google+ - ->
                <a class="clickable" (click)="shareGoogle()" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
                </a>-->
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <h2 align="center">Más recientes</h2>
            <hr>
            <!-- Más recientes-->
            <div class="card mb-3" *ngFor='let oferta of ofertas;'>
                <div class="oferta row no-gutters" (click)='reloadWithDifferentId(oferta)'>
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">{{oferta.nombre}}</h5>
                            <p class="card-text text-oneline">
                                <i class="fa fa-calendar"></i>
                                <b> Duracion: </b> {{oferta.duracion}}</p>
                            <p class="card-text text-oneline">
                                <i class="fa fa-location-arrow"></i>
                                <b> Destino/s: </b> {{oferta.destino}}</p>
                            <p class="card-text text-oneline">
                                <i class="fa fa-money"></i>
                                <b> Precio: </b> {{oferta.precio}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- MODAL -->

<ng-template #longContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="form_div">
            <form [formGroup]="form" (ngSubmit)="send_message()">
                <div class="form-group">
                    Nombre y Apellido *
                    <input type="text" name="nombre" class="form-control" formControlName="nombre">
                    <br> E-mail *
                    <br>
                    <input type="text" name="mail" class="form-control" formControlName="mail">
                    <br> Mensaje y observaciones (opcional)
                    <textarea id="mensaje" class="form-control" formControlName="mensaje" placeholder="Puede indicar la cantidad de personas, o cualquier otro detalle que considere necesario"></textarea>
                    <br>
                    <!--Captcha-->
                    <!--https://www.npmjs.com/package/ng-recaptcha-->
                    <re-captcha formControlName="recaptchaReactive" siteKey="6Lfp75YUAAAAADKD8ILWr9D-opHVYV8B3celWq0e"></re-captcha>
                    <br>
                    <button class="btn btn-primary" [disabled]="form.invalid">Enviar mensaje</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>