<!--h2 tira excepciones porque al momento de renderizarse todavia viaje sigue siendo null
uso la condicion *ngIF="viaje" para que se renderize cuando viaje ya haya obtenido su verdadero valor
tambien le puedo agregar el simbolo ? a la derecha de viaje -> {{viaje?.nombre}}
es un nullcheck, como esta null no carga h2, luego angular asincronicamente lo carga cuando es not null
https://stackoverflow.com/questions/34833358/angular-2-typeerror-l-thing0-is-undefined-in-thing-title-in-appcomponent
-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <h2 *ngIf="viaje" align="center" style="margin-top: 30px">{{viaje.nombre}}</h2>
            <hr>
            <div>
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor='let index of images; let size = count'>
                        <img src={{index}} width='100%' height="500px" alt="Random slide">
                        <div class="carousel-caption">
                            <h3></h3>
                            <p></p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>

            <br><br>

            <div *ngIf="viaje" class="border" id="panel_detalles">
                <p><i class="fa fa-calendar"></i><b> Duracion: </b> {{viaje.duracion}}</p>
                <button type="button" id="boton_reserva" class="btn btn-primary" style="float: right; margin-right: 10px;"
                    (click)=toggle_form()>Reservar</button>
                <p><i class="fa fa-location-arrow"></i><b> Destino/s: </b> {{viaje.destino}}</p>
                <p><i class="fa fa-money"></i><b> Precio: </b> {{viaje.precio}}</p>
            </div>

            <div class="quote">
                <!--https://1stwebdesigner.com/css-snippets-blockquotes/-->
                <blockquote>
                    {{viaje?.descripcion}}
                </blockquote>
            </div>

            <hr>
            <div>
                <h1 align="center">Detalles</h1>
                <br>
                <button class="accordion border" (click)=toggleItinerario()>
                    <b>Itinerario</b><span style="float:right;"><i id="icon_itinerario"
                            class="fa fa-angle-down"></i></span>
                </button>
                <div class="panel-invi border" id="itinerario">
                </div>
                <br>
                <button class="accordion" (click)=toggleObs() style="margin-top: 10px">
                    <b>Observaciones</b><span style="float:right;"><i id="icon_observaciones"
                            class="fa fa-angle-down"></i></span>
                </button>
                <div class="panel-invi border" id="observaciones">
                </div>
            </div>

            <hr>

            <div align="center" id="share-buttons">
                <!-- Facebook -->
                <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                </a>
                <!-- Twitter -->
                <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons"
                    target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                </a>
                <!-- Google+ -->
                <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
                </a>
            </div>
        </div>
        <div class="col-sm-4" style="text-align:center;margin-top:30px;">
            <h2>Ofertas mas recientes</h2>
            <hr>
            <!--OFERTAS-->
            <div class="container py-3 oferta border" *ngFor='let index of ofertas; let i = index'
                (click)=reloadWithDifferentId()>
                <div routerLink='../../programas/{{index.id}}' class="row ">
                    <div class="col-md-4">
                        <img src={{index.portada}} class="w-100 border">
                    </div>
                    <div class="col-md-8 px-3">
                        <div class="card-block px-3">
                            <h6 class="card-title">{{index.nombre}}</h6>
                            <p class="card-text">Desde: {{index.precio}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="" id="form_div" style="display: none">
                <br><hr><br>
                <form [formGroup]="formdb" (ngSubmit)="reservar_programa()">
                    <div class="form-group">
                        Nombre y Apellido *
                        <br>
                        <input type="text" name="nombre" class="form-control" formControlName="nombre">
                        <br>
                        E-mail *
                        <br>
                        <input type="text" name="mail" class="form-control" formControlName="mail">
                        <br>
                        Adultos *
                        <br>
                        <input type="text" name="adultos" class="form-control" formControlName="adultos"><br>
                        Niños *
                        <br>
                        <input type="text" name="niños" class="form-control" formControlName="niños"><br>
                        Mensaje y observaciones (opcional)
                        <textarea id="mensaje" class="form-control" formControlName="mensaje"></textarea>
                        <br>
                        <button class="btn btn-primary" [disabled]="formdb.invalid">Reservar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>