<app-video></app-video>

<br><br>
<h1 align="center">VIAJES A LA MEDIDA DE TUS SUEÑOS!</h1>

<div class="container" *ngFor='let index of viajes; let i = index; let even = even; let size = count'>
  <span *ngIf="even">
    <div class='pics_in_a_row'>
      <div class='my_img rounded hover13'>
        <figure><img routerLink='programas/{{viajes[i].id}}' src={{viajes[i].portada}}>
          <figcaption routerLink='programas/{{viajes[i+1].id}}'>
            <div style="text-align: center"> 
                <p>{{viajes[i].nombre}}</p>
                <p>USD:{{viajes[i].precio}}</p>
              </div>
          </figcaption>
        </figure>
      </div>
      <div class='my_img rounded hover13'>
        <span *ngIf="i+1<size">
          <figure><img routerLink='programas/{{viajes[i+1].id}}' src={{viajes[i+1].portada}}>
            <figcaption routerLink='programas/{{viajes[i+1].id}}'>
              <div style="text-align: center"> 
                <p>{{viajes[i+1].nombre}}</p>
                <p>USD:{{viajes[i+1].precio}}</p>
              </div>
            </figcaption>
          </figure>
        </span>
      </div>
    </div>
  </span>
</div>