<!--h2 tira excepciones porque al momento de renderizarse todavia viaje sigue siendo null
uso la condicion *ngIF="viaje" para que se renderize cuando viaje ya haya obtenido su verdadero valor
tambien le puedo agregar el simbolo ? a la derecha de viaje -> {{viaje?.nombre}}
es un nullcheck, como esta null no carga h2, luego angular asincronicamente lo carga cuando es not null
https://stackoverflow.com/questions/34833358/angular-2-typeerror-l-thing0-is-undefined-in-thing-title-in-appcomponent
-->
<h2 *ngIf="viaje" align="center" style="margin-top: 30px">{{viaje.nombre}}</h2>
<hr>
<div class="inner">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor='let index of images; let i = index; let size = count'>
            <img src={{images[i]}} width='100%' height="500px" alt="Random slide">
            <div class="carousel-caption">
                <h3>{{viaje?.nombre}}</h3>
                <p>{{viaje?.descripcion}}</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<hr>

<div *ngIf="viaje" class="inner border" style="background-color:rgb(247, 242, 242)">
    <p>Duracion: {{viaje.duracion}}</p>
    <p>Ubicacion: {{viaje.destino}}</p>
    <p>Precio: USD{{viaje.precio}}</p>
</div>

<hr>

<hr>